@import "varibles";
@import "helpers";


html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: $font-black;
  background-color: $bg-cream;
  padding: 0 8px 8px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  background-color: $bg-cream;
  color: $dark-green;
  height: 100px;

  .header-banner {
    display: flex;
    align-items: center;
  }

  .header-logo {
    background-image: url("../static/logo_sm.png");
    height: 75px;
    width: 75px;
    background-size: cover;
    margin-right: 25px;
  }

  .header-title {
    font-size: 4rem;
    font-family: $font-black;
  }

  .nav-bar {
    display: flex;

    &-link {
      padding-left: 35px;
      font-family: $font-medium;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}

.top-content {
  display: flex;
  align-items: center;
  background-image: url("../static/home_bg.png");
  background-size: cover;
  height: 800px;
  padding: 0 130px;

  .big-logo {
    background-image: url("../static/logo_big.png");
    width: 450px;
    height: 450px;
    background-size: cover;
    margin-right: 150px;
    flex-shrink: 0;
  }

  .welcome-text {
    font-family: $font-black;
    font-size: 8rem;
    color: white;
  }
}

.block-title {
  font-size: 4rem;
  color: $cream;
  text-align: center;
}

.arrow-right {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  border-style: solid;
  border-width: 10.5px 0 10.5px 24px;
  border-color: transparent transparent transparent $light-green;

  &:before {
    position: absolute;
    content: " ";
    border-width: 8px 0 8px 6px;
    left: -24px;
    top: -8px;
    border-style: solid;
    border-color: transparent transparent transparent white;
  }

  &.dark-green {
    border-color: transparent transparent transparent $dark-green;
  }

  &.light-green {
    border-color: transparent transparent transparent $light-green;
  }
}

.card-wrap {
  padding: 0 130px;
  display: flex;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    flex: 1 1;

    &:last-child {
      margin-right: 0;
    }

    .card-img-big {
      height: 700px;
      background-size: cover;
    }

    .card-img {
      height: 380px;
      background-size: cover;
    }

    .card-title {
      text-align: center;
      font-size: 4rem;
      color: $dark-green;
      padding: 30px 0;
    }

    .card-descriptions {
      font-family: $font-medium;
      font-size: 2.8rem;
      color: $dark-green;
      .contact-info, .contact-info a {
        color: black!important;
        font-family: $font-medium;
        font-size: 2.5rem;
      }
    }
  }
}

.bt-wrap {
  text-align: center;

  .btn {
    display: inline-block;
    padding: 25px 25px 30px;
    color: white;
    font-family: $font-black;
    font-size: 3rem;
    background-color: $cream;
    box-shadow: 5px 5px $light-green;
    cursor: pointer;
    text-decoration: none;
  }
}

.social-icon-wrap {
  text-align: center;
  display: flex;
  justify-content: center;

  .social-icon {
    background-size: cover;
    height: 120px;
    width: 120px;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.map {
  height: 450px;
}

.footer {
  padding: 0 130px;
  background-size: cover;
  background-image: url("../static/footer_bg.png");
  height: 700px;
  font-size: 4rem;
  color: $cream;
  display: flex;
  justify-content: space-between;

  .footer-nav {
    display: flex;
    flex-direction: column;

    .nav-link {
      padding-bottom: 70px;
    }
  }

  .footer-info {
    text-align: right;
  }

  .footer-info-text {
    font-size: 3rem;
    font-family: $font-medium;
  }
}

/*Bar and restaurant start*/

.bar-and-restaurant {
  .top-content {
    background-image: url("../static/bar_and_rest_home.png");
  }

  .dont-decide {
    color: $dark-green;
    font-size: 3.5rem;
  }

  .card-wrap .card .card-title, .card-wrap .card .card-descriptions {
    color: $light-green;
  }
}

/*Bar and restaurant end*/

/*Events start*/

.events {
  .top-content {
    background-image: url("../static/events_home.png");
  }

  .event-gallery-wrap {
    padding: 0 130px;

    .event-gallery {
      height: 960px;
    }
  }

  .card-wrap .card .card-title, .card-wrap .card .card-descriptions {
    color: $light-green;
  }
}

/*Events end*/


/*galleriet start*/
.gallery-view {
  display: flex;
  height: 960px;
  position: relative;

  .main-image {
    background-image: url("../static/events_galary1.png");
    background-size: cover;
    height: 100%;
    width: 70%;
  }

  .sub-images {
    margin-left: 10px;
    width: calc(30% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sub-image {
      height: calc(50% - 5px);
      background-size: cover;
      width: 100%;
    }
  }

  .see-all-btn {
    position: absolute;
    bottom: 25px;
    right: 35px;
    padding: 20px 35px 25px;
    color: white;
    cursor: pointer;

    &:before {
      content: " ";
      background-color: white;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.floor-plan-header {
  display: flex;
  padding: 30px 130px;
  justify-content: space-between;
  align-items: center;

  &-images {
    display: flex;
    align-items: center;

    .image-block {
      text-align: center;
      margin-left: 70px;
      font-size: 2rem;
      font-family: $font-medium;
      display: flex;
      flex-direction: column;
      align-items: center;

      .floor-plan-header-img {
        background-size: cover;
        width: 70px;
        height: 50px;
      }

      .floor-plan-header-text {
        padding-top: 10px;
        max-width: 160px;
      }
    }
  }
}

.floor-plan {
  padding: 0 130px;
  display: flex;
  justify-content: space-between;

  .info-blocks {
    width: 30%;
    display: flex;
    flex-direction: column;

    .info-block {
      padding-bottom: 40px;
      padding-top: 25px;
      border-bottom: 2px solid $bg-cream;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      .title {
        padding-bottom: 15px;
        font-size: 4rem;
        color: $dark-green;
      }

      .text {
        font-size: 2.8rem;
        font-family: $font-medium;
        color: black;
      }
    }
  }

  .floor-image {
    width: 50%;
    margin: 115px 0 150px 200px;
    background-size: cover;
    position: relative;
    text-align: center;

    &-text {
      font-size: 2.8rem;
      position: absolute;
      color: $dark-green;
      bottom: -30px;
      width: 100%;
    }
  }
}

.text-image-block {
  display: flex;
  justify-content: space-between;
  padding: 60px 130px 50px;
  height: 520px;

  > * {
    width: calc(50% - 20px);
  }

  .quoted-text {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    > div {
      position: relative;

      &:before {
        position: absolute;
        left: 49%;
        top: -50px;
        content: " ";
        width: 20px;
        height: 20px;
        background-color: $bg-cream;
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        left: 49%;
        bottom: -50px;
        content: " ";
        width: 20px;
        height: 20px;
        background-color: $bg-cream;
        transform: rotate(45deg);
      }
    }
  }

  .text {
    font-family: $font-medium;

    .title {
      font-family: $font-black;
    }
  }

  .image {
    background-size: cover;
  }
}

.border {
  padding: 0 130px;
  background-color: white;

  div {
    width: 100%;
    height: 2px;
    background-color: $bg-cream;
  }
}

.gallery-viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px 240px;
  background-color: rgba(0, 0, 0, 0.6);

  &-images {
    position: relative;
    height: 100%;
    padding: 10px;
    background-color: $cream;

    .close-gallery {
      position: absolute;
      top: 45px;
      right: 65px;
      color: $cream;
      cursor: pointer;
      font-size: 55px;
      z-index: 9;
      height: 20px;
      line-height: 0;
    }
  }

  #jssor_1 > div:first-child div, #jssor_1 > div:first-child img {
    width: 100% !important;
  }

  #jssor_1 > div:nth-last-child(-n+2) {
    top: calc(50% - 25px) !important;
  }
}

.galleriet {
  .card-wrap .card .card-title, .card-wrap .card .card-descriptions {
    color: $light-green;
  }
}

/*galleriet end*/

/*nedree-slot start*/
.nedree-slot {
  .floor-plan-header-images .image-block {
    margin-left: 35px;
  }

  .card-wrap .card .card-title, .card-wrap .card .card-descriptions {
    color: $light-green;
  }
}

/*nedree-slot end*/

/*get_in_touch start*/
form {
  padding: 140px 200px;

  .input {
    width: 70%;
    padding-top: 10px;

    input {
      border: 1px solid $dark-green;
      height: 65px;
      width: 100%;
      padding: 5px;
      font-size: 3.5rem;
      border-radius: 4px;
    }

    textarea {
      border: 1px solid $dark-green;
      width: 100%;
      border-radius: 4px;
      font-size: 3rem;
    }
  }

  .date-guests {
    display: flex;

    > div {
      margin-right: 50px;
    }

    select {
      border-radius: 4px;
      border: 1px solid #707070;
      width: 160px;
      padding: 20px;
      font-size: 3rem;
      font-family: $font-medium;

      &:invalid {
        color: #ACADAC;
      }

      option {
        color: black !important;
      }
    }
  }

  .checkbox {
    font-size: 2.5rem;
    color: $dark-green;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    input {
      width: 40px;
      height: 40px;
    }

    input:before {
      transition-timing-function: cubic-bezier(.075, .820, .165, 1);
      border: 5px solid;
      border-radius: 0;
      background-color: white;
      border-color: transparent;
      box-sizing: border-box;
      color: $dark-green;
      content: close-quote;
      display: inline-block;
      height: 40px;
      outline: 2px solid $dark-green;
      transition-duration: .5s;
      transition-property: background-color, border-color;
      width: 40px;
    }

    input:checked:before {
      background-color: $dark-green;
      border-color: white;
    }

    span {
      margin-left: 10px;
    }

  }

  .bt-wrap .btn {
    padding: 10px 35px;
  }
  .datepicker-inline .datepicker {
    font-family: Arial;
    background-color: #F2F2F2;
    border: none;
    border-radius: unset;
    font-size: 20px;
    width: 370px;

    .datepicker--nav {
      background-color: #E6E6E6;
      font-size: 22px;
      padding: 10px 5px;
      color: black;
    }

    .datepicker--content {
      padding-top: 0;
    }

    .datepicker--days-names {
      background-color: #EBEBEB;
      margin: 0;
      padding: 15px 0;
      color: black !important;

      .datepicker--day-name {
        color: black;
        font-size: 20px;
      }
    }

    .datepicker--cell {
      height: 50px;
    }

    .datepicker--cell.-current- {
      color: $dark-green;
    }

    .datepicker--cell.-selected- {
      background-color: $bg-cream;
    }

    .datepicker--cells-months {
      height: auto;
    }
  }
}

.gray-text {
  font-size: 20px;
  font-family: $font-medium;
  color: #acadac;
}

/*get_in_touch end*/



/*about start*/
.about {
  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    .card {
      margin-right: 0;
    }
  }
}
/*about end*/

/*community start*/
.community {
  .community-block {
    padding: 0 130px;
    display: flex;
    > *:first-child {
      margin-right: 60px;
    }
  }
  .community-img {
    background-size: cover;
  }
}

/*community end*/

/*coctails and craftBeer start*/
.cocktails {
  .cocktails-info {
    padding: 0 130px;
    .cocktails-title {
      display: inline-block;
      width: 41%;
    }
    .cocktails-descriptions {
      display: inline-block;
      width: 58%;
      vertical-align: top;
    }
  }
  .craft-beer {
    .text {
     width: 40%;
      &.text-center {
        font-family: $font-black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .image {
      width: 900px;
    }

  }
}
/*coctails craftBeer end*/

@font-face {
  font-family: 'Sofia Pro Bold';
  src: url('../static/SofiaProBold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro Black';
  src: url('../static/SofiaProBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('../static/SofiaProMedium.otf');
  font-weight: normal;
  font-style: normal;
}
