$font-medium: 'Sofia Pro Medium', sans-serif;
$font-bold: 'Sofia Pro Bold', sans-serif;
$font-black: 'Sofia Pro Black', sans-serif;

$dark-green: #27362a;
$cream: #e2c7aa;
$light-green: #89AD8C;

$bg-cream: #eddaca;
